@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Press+Start+2P&family=Rowdies:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  @apply text-xl sm:text-2xl font-bold;
}

input[type='number'] {
  @apply h-6 rounded text-center focus:outline-none focus:ring-1;
}

.btn-primary {
  @apply bg-btnPrimary rounded-lg shadow-md text-white transition duration-200 ease-in-out;
}
.btn-primary:hover {
  @apply bg-btnPrimaryHover;
}
.btn-primary:active {
  @apply bg-btnPrimaryActive;
}

.board {
  @apply transition duration-500 ease-in-out;
}
.x-mark {
  @apply text-textLightBlue;
}
.o-mark {
  @apply text-textRed;
}
.board .x-mark,
.board .o-mark {
  @apply bg-boardMark;
}
.board .non-mark {
  @apply cursor-pointer transition duration-500 ease-in-out;
}
.board .non-mark:hover {
  @apply bg-boardCellHover cursor-pointer;
}
.board .hilight,
.board .hilight.lastMove {
  @apply bg-boardHilight;
}
.board .lastMove {
  @apply bg-boardLastMove;
}
